/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * FUENTES...........Importamos fuentes de iconos 
 * BODY...............Establece los valores iniciales
 * HEADER...........Logo y navegacion del sitio
 * FOOTER...........Datos de contacto y redes sociales
 * BANNER...........Establece el comportamiento del banner
 * ANIMACIONES...........Definimos las animaciones
 
 
 
 
 
/*------------------------------------*\
    $FUENTES
\*------------------------------------*/





/*------------------------------------*\
    $BODY
\*------------------------------------*/
body{}





/*------------------------------------*\
    $BOTONES
\*------------------------------------*/
.c-button{ text-align:center; padding-top:35px;}
.c-button__main{ padding:10px 63px 10px 63px; background-color:#FAD12C; font-size:14pt; color:#3A7670; text-decoration:none; border-radius: 10px; border: 4px solid #0F657E;}






/*------------------------------------*\
    $MODIFICADORES
\*------------------------------------*/

.trigonometria{display:none}
.quimica{display:none}
.fisica{display:none}
.matematicas{display:none}
.geometria{display:none}
.calculo{display:none}
.informatica{display:none}